<div class="container">
  <h1>Log of Parties</h1>

  <% @parties.each do | party | %>
  <h2><%= party.name %> <small><%= party.happened_on.to_s(:long) %></small></h2>
  <p class="lead">
    <%= party.description.truncate(300) %>
    <%= link_to "More »", party %>
  </p>
  <br/>
  <% end %>

  <%= paginate @parties %>

</div>