<div class="container">
  <h1>
    <%= @party.name %>
    <% unless @party.happened_on.nil? %>
      <br/>
      <small><%= @party.happened_on.to_formatted_s(:long) %></small>
    <% end %>
  </h1>

  <%= simple_format @party.description, class: 'lead' %>

  <% if @party.image1.exists? or @party.image2.exists? or @party.image3.exists? %>
    <div class="row">
      <% if @party.image1.exists? %>
          <div class="col-xs-6 col-md-3">
            <%= link_to @party.image1.url, :class => 'thumbnail' do %>
              <%= image_tag @party.image1.url(:thumb) %>
            <% end %>
          </div>
      <% end %>
      <% if @party.image2.exists? %>
          <div class="col-xs-6 col-md-3">
            <%= link_to @party.image2.url, :class => 'thumbnail' do %>
                <%= image_tag @party.image2.url(:thumb) %>
            <% end %>
          </div>
      <% end %>
      <% if @party.image3.exists? %>
          <div class="col-xs-6 col-md-3">
            <%= link_to @party.image3.url, :class => 'thumbnail' do %>
                <%= image_tag @party.image3.url(:thumb) %>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
