<div class="jumbotron masthead">
  <h1>Pittsburgh Party Trophy</h1>
  <p>A traveling testament to good times in the city.</p>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- START THE FEATURETTES -->

  <% if @parties.empty? %>
      <h2><em>No one's entered a party yet.  Be the first!</em></h2>
  <% else %>

  <% @parties.each do | party | %>

    <hr class="featurette-divider">

    <div class="row featurette">
      <% if party.image1.exists? %>
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= party.name %></h2>
          <p class="lead">
            <%= party.description.truncate(300) %>
            <%= link_to "More »", party %>
          </p>
        </div>
        <div class="col-md-5">
          <%= image_tag party.image1.url(:thumb), class: "featurette-image img-responsive" %>
        </div>
      <% else %>
        <div class="container-fluid">
          <h2 class="featurette-heading"><%= party.name %></h2>
          <p class="lead">
            <%= party.description.truncate(300) %>
            <%= link_to "More »", party %>
          </p>
        </div>
      <% end %>
    </div>

  <% end %>

  <% end %>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Pittsburgh Party Trophy, Inc.  Contact the <a href="mailto:webmaster@eclecsia.org">webmaster</a>.</p>
  </footer>

</div><!-- /.container -->
