<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trophy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Pittsburgh Party Trophy", { controller: "home", action: "index" }, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= active_page?(controller: 'home', action: 'about') %>">
          <%= link_to "About", controller: "home", action: "about" %>
        </li>
        <li class="<%= active_page?(parties_path) %>">
          <%= link_to "Party Log", parties_path %>
        </li>
        <li class="<%= active_page?(new_party_path) %>">
          <%= link_to "Submit Your Party", new_party_path %>
        </li>
        <li class="<%= active_page?(controller: 'home', action: 'contact') %>">
          <%= link_to "Contact", controller: "home", action: "contact" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
